.anime-card {
  position: relative;
  /* Adjust width as needed */

  cursor: pointer;
  overflow: hidden;

  transition: transform 0.3s;
  border-color: aquamarine;
}

.anime-card img {
  display: block;
  width: auto;
  height: 280px;
  margin: 0px;
  padding: 0px;

  border-style: solid;
}

.anime-card h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(150, 17, 17);
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
}

.anime-card:hover {
  transform: scale(1.1);
}

.anime-card:hover h3 {
  opacity: 1;
}
